<h1>Hello </h1>

<form action="/" method="POST">
    <input type="text" name="artist" placeholder="Artist Name" value="Oh Wonder">
    <input type="text" name="tour" placeholder="Tour" value="Ultralife">
    <input type="submit" value="submit">
</form>