<h1>Playlist Creator from Setlists</h1>

<h4>Just enter an artist and/or a tour!</h4>
<form action="/" method="POST">
    <input type="text" name="artist" placeholder="Artist Name">
    <input type="text" name="tour" placeholder="Tour">
    <input type="submit" value="submit">
</form>
