<h1>Hello </h1>

<form action="/" method="POST">
    <input type="text" name="artist" placeholder="Artist Name">
    <input type="text" name="tour" placeholder="Tour">
    <input type="submit" value="submit">
</form>